.card {
    position: relative;
    z-index: 3;
    box-sizing: border-box;
    width: 280px;
    height: 300px;
    margin: 30px 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0 1px 2px rgb(173, 173, 173);

    &.hidden {
        display: none;
    }

    &::before {
        content: "U";
        position: absolute;
        color: #fff;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 60px;
        font-weight: 900;
        transform: rotate(180deg);
        top: -25px;
        left: calc(50% - 30px);
    }

    &:hover {
        transform: scale(1.03);
    }

    &:hover .card__buttons-wrapper {
        transition: 1000ms;
        top: -20px;
    }

    &__title {
        position: relative;
        z-index: 4;
        text-align: center;
        padding: 20px;
        color: #fff;
        font-size: 20px;
        font-weight: 700;
        border-radius: 15px 15px 0 0;
    }

    &__subtitle {
        text-align: center;
        color: rgb(85, 85, 85);
        font-size: 20px;
        font-weight: 700;
        padding: 10px;
    }

    &__content-wrapper {
        height: calc(100% - 102px);
        border-radius: 0 0 15px 15px;
        position: relative;
    }

    &__content-title {
        font-size: 15px;
        font-weight: 700;
        margin: 5px;
        color: rgb(85, 85, 85);
    }

    &__content-text {
        display: block;
        font-size: 20px;
        margin: 5px;
        font-family: 'Marck Script', cursive;
        color: rgb(61, 74, 145);
    }

    &__buttons-wrapper {
        position: absolute;
        top: -4px;
        right: 30px;
        width: 80px;
        padding-top: 10px;
        display: flex;
        justify-content: space-around;
        transition: 1000ms;
    }

    &__button {
        position: reletive;
        border: solid 0.5px rgb(223, 223, 223);
        border-radius: 5px 5px 0 0;
        box-shadow: 0 -1px 2px rgb(209, 209, 209);
        color: rgb(61, 74, 145);
        background: #fff;
        text-align: center;
        font-size: 16px;
        padding: 0 6px 20px;
        font-weight: 700;
        font-family: 'Marck Script', cursive;
        transition: 300ms;

        &:hover {
            transition: 300ms;
            margin-top: -6px;
        }
    }

    &__visite-done-button {
        &::before {
            content: "Завершить визит";
            background-color: #fff;
            width: 130px;
            padding: 3px;
            border-radius: 5px;
            font-size: 13px;
            font-family: 'Nunito', sans-serif;
            color: rgb(46, 46, 46);
            visibility: hidden;
            opacity: 0;
            position: absolute;
            top: -30px;
            left: -55px; 
            transition: 1000ms;
        }
        &:hover:before {
            visibility: visible;
            opacity: 0.7;
            top: -30px;
            
            transition: 1000ms;
            transition-delay: 1s;
        }
    }

    &__info-button {
        font-size: 20px;
        padding: 0 7.5px 20px;
        &::before {
            content: "Вся информация";
            background-color: #fff;
            width: 130px;
            padding: 3px;
            border-radius: 5px;
            font-size: 13px;
            font-family: 'Nunito', sans-serif;
            color: rgb(46, 46, 46);
            visibility: hidden;
            opacity: 0;
            position: absolute;
            overflow: visible;
            top: -30px;
            left: -25px;
        }

        &:hover:before {
            visibility: visible;
            opacity: 0.7;
            top: -30px;
            
            transition: 1000ms;
            transition-delay: 1s;
        }
    }

    &__delete-visite-button {
        &::before {
            content: "Удалить визит";
            background-color: #fff;
            width: 110px;
            padding: 3px;
            border-radius: 5px;
            font-size: 13px;
            font-family: 'Nunito', sans-serif;
            color: rgb(46, 46, 46);
            visibility: hidden;
            opacity: 0;
            position: absolute;
            top: -30px;
            left: 7px;

        }

        &:hover:before {
            visibility: visible;
            opacity: 0.7;
            top: -30px;
            
            transition: 1000ms;
            transition-delay: 1s;
        }
    }
}

.client-name {
    display: inline-block;
    position: relative;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    padding: 10px;
    max-width: calc(100% - 50px);
    width: max-content;
}

.cardiologist {
    &__title {
        background-color: $cardio-color;
    }

    &__wrapper {
        border: solid 1px $cardio-color;
    }

    &__client-name {
        background-color: $cardio-color;

        &::after {
            @include card-client-name-after($cardio-color)
        }
    }

    &.done {
        .cardiologist {
            &__title {
                background-color: $cardio-color-done;
            }

            &__wrapper {
                border: solid 1px $cardio-color-done;
            }
        
            &__client-name {
                background-color: $cardio-color-done;
        
                &::after {
                    @include card-client-name-after($cardio-color-done)
                }
            }
        }
    }
}

.dentist {
    &__title {
        background-color: $dentist-color;
    }

    &__wrapper {
        border: solid 1px $dentist-color;
    }

    &__client-name {
        background-color: $dentist-color;

        &::after {
            @include card-client-name-after($dentist-color)
        }
    }

    &.done {
        .dentist {
            &__title {
                background-color: $dentist-color-done;
            }

            &__wrapper {
                border: solid 1px $dentist-color-done;
            }
        
            &__client-name {
                background-color: $dentist-color-done;
        
                &::after {
                    @include card-client-name-after($dentist-color-done)
                }
            }
        }
    }
}

.therapist {
    &__title {
        background-color: $therapist-color;
    }

    &__wrapper {
        border: solid 1px $therapist-color;
    }

    &__client-name {
        background-color: $therapist-color;

        &::after {
            @include card-client-name-after($therapist-color)
        }
    }

    &.done {
        .therapist {
            &__title {
                background-color: $therapist-color-done;
            }

            &__wrapper {
                border: solid 1px $therapist-color-done;
            }
        
            &__client-name {
                background-color: $therapist-color-done;
        
                &::after {
                    @include card-client-name-after($therapist-color-done)
                }
            }
        }
    }
}

.done {
    .urgency-circle {
        opacity: 0.5;
    }
}

.circles-container {
    display: flex;
    align-items: center;
}
.urgency-circle {
    height: 15px;
    width: 15px;
    margin-left: 10px;
    box-shadow: 0px 1px 5px rgb(118, 118, 118);
    border: solid 0.5px rgb(197, 197, 197);
    border-radius: 50%;
    background: radial-gradient(circle, rgba(255,255,255,1) 1%, rgba(233,233,233,1) 2%, rgba(208,208,208,1) 100%);
}

.regular {
    &--active {
        background: radial-gradient(circle, rgb(184, 255, 190) 1%, rgb(93, 255, 147) 2%, rgb(0, 202, 34) 100%);
        border: solid 0.5px rgb(1, 184, 41);
    }
}

.priority {
    &--active {
        background: radial-gradient(circle, rgb(249, 255, 199) 1%, rgb(250, 246, 133) 2%, rgb(242, 207, 13) 100%);
        border: solid 0.5px rgb(230, 195, 0);
    }
    
}

.urgent {
    &--active {
        background: radial-gradient(circle, rgb(255, 193, 193) 1%, rgb(255, 142, 142)2%,rgb(253, 11, 11) 100%);
        border: solid 0.5px rgb(223, 0, 0);
    } 
}