.header {
    background-color: #fff;
    height: 100px;
    box-shadow: 0 2px 5px rgb(163, 163, 163);
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
}

.container {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 60px;
}

.header__title {
    display: flex;
}

.logo-name {
    height: 60px;
}

.title {
    color: #232224;
    margin-top: -10px;
    font-size: 36px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
}

.button {
    color: rgb(71, 71, 71);
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    padding: 5px 10px;
    border: solid 1px rgb(71, 71, 71);
    border-radius: 5px;
    background-color: #fff;
    text-transform: capitalize;
}

.button:hover {
    background-color: rgb(245, 245, 245);
}
