@import "./massages";
@import "./cards";
@import "./full-card";

body {
    font-family: 'Nunito', sans-serif;
}
.main {
    min-height: calc(100vh - 100px);
    height: 100%;
    background: linear-gradient(145deg, rgba(208,228,242,1) 0%, rgba(244,194,245,1) 100%);
}
.root {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    margin: 0 auto;
    padding: 40px 0;
    position: relative;
    z-index: 0;
}

.hidden {
    display: none;
}