.massage-container {
    position: absolute;
    margin: 0 auto;
    width: 1200px;
    display: flex;
    justify-content: center;
    z-index: 20;
}

.massage {
    opacity: 0;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 1px 2px rgb(173, 173, 173);
    font-size: 20px;

    &--active {
        transition: 3000ms;
        opacity: 1;
    }

    &__strong-text {
        font-weight: 700;
    }
}

.massage-1 {
    margin-top: 200px;
    width: 600px;
    padding: 30px;
    margin-left: 200px;
}

.massage-2 {
    position: absolute;
    width: 200px;
    right: -50px;
    top: 25px;

    &::before {
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        content: url("../img/massage-tail.png");
        position: absolute;
        top: -10px;
        right: 70px;
        transform: rotate(15deg);
    }
}